.modal { 
    background-color: brown !important; 
 }
 
 body{
     background-image: url('https://bit.ly/2v4KkVf');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
 }